@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/FuturaBookC.ttf');
    font-weight: normal;
    font-style: normal;
    
}

$fontFuturaBookC: 'FuturaBookC', sans-serif;
$fontSize: 18px;
$fontColor: #444;
